# Create A Candle Stick Chart

In [2]:
!pip install yahooquery

from yahooquery import Ticker
aapl = Ticker('aapl')
abt = Ticker('abt')
import pandas as pd

Collecting yahooquery
  Downloading https://files.pythonhosted.org/packages/45/4e/d214812e70fdd687960c74280d1e6264ce0bbbc8b9d9cab874a30353231d/yahooquery-2.2.5.tar.gz (53kB)
     |████████████████████████████████| 61kB 2.7MB/s
Collecting lxml==4.5.0
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 10.5MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yahooquery) (1.0.5)
Collecting requests-futures==1.0.0
  Downloading https://files.pythonhosted.org/packages/47/c4/fd48d1ac5110a5457c71ac7cc4caa93da10a80b8de71112430e439bdee22/requests-futures-1.0.0.tar.gz
Collecting selenium==3.141.0
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 45.3MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (2.8.1)
Requirement already satisfied: requests>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from requests-futures==1.0.0->yahooquery) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium==3.141.0->yahooquery) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yahooquery) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (2.10)
Building wheels for collected packages: yahooquery, requests-futures
  Building wheel for yahooquery (setup.py) ... done
  Created wheel for yahooquery: filename=yahooquery-2.2.5-cp36-none-any.whl size=49956 sha256=cdb4bfd53c30873bedd2539ca784687a1f6ee4e928f46a4522de58a385e5cfa3
  Stored in directory: /root/.cache/pip/wheels/dd/6f/e6/04b0c8874ca6f29e0effceb10ea260f181746c43905a436477
  Building wheel for requests-futures (setup.py) ... done
  Created wheel for requests-futures: filename=requests_futures-1.0.0-cp36-none-any.whl size=7013 sha256=bedf9d55beaac93ab14402621390a473f02e5b8cfb79717923a9ab83f392ce05
  Stored in directory: /root/.cache/pip/wheels/26/d0/f5/dc4e4a37bbe55c9acf967d2bd899152412c1e49c227f5395ff
Successfully built yahooquery requests-futures
Installing collected packages: lxml, requests-futures, selenium, yahooquery
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.5.0 requests-futures-1.0.0 selenium-3.141.0 yahooquery-2.2.5

In [5]:
ohlc = aapl.history(period='ytd',interval='1d')
ohlc

                          low        high  ...    adjclose  dividends
symbol date                                ...
aapl   2020-01-02  295.190002  300.600006  ...  298.829956        0.0
       2020-01-03  296.500000  300.579987  ...  295.924713        0.0
       2020-01-06  292.750000  299.959991  ...  298.282715        0.0
       2020-01-07  297.480011  300.899994  ...  296.879883        0.0
       2020-01-08  297.160004  304.440002  ...  301.655548        0.0
...                       ...         ...  ...         ...        ...
       2020-07-27  373.920013  379.619995  ...  379.239990        0.0
       2020-07-28  372.989990  378.200012  ...  373.010010        0.0
       2020-07-29  374.850006  380.920013  ...  380.160004        0.0
       2020-07-30  375.070007  385.190002  ...  384.760010        0.0
       2020-07-31  403.299988  425.660004  ...  425.040009        0.0

[147 rows x 7 columns]

In [ ]:
pd.show_versions()

In [ ]:
pd.show_versions?

In [ ]:
pd.read_csv?