# Getting Pandas and DataFrame readcsv

In [2]:
import pandas as pd
pd.show_versions?
pd.read_csv?

In [3]:
pd.__version__

'1.0.5'

In [ ]:
# read csv locally exmaple, skiprows 
oo = pd.read_csv('data/olympics.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [4]:
#read remote CSV
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url, verify = False).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
print(c)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [5]:
# ON colab, install yahooquery
!pip install yahooquery

Collecting yahooquery
  Downloading https://files.pythonhosted.org/packages/45/4e/d214812e70fdd687960c74280d1e6264ce0bbbc8b9d9cab874a30353231d/yahooquery-2.2.5.tar.gz (53kB)
     |████████████████████████████████| 61kB 1.8MB/s
Collecting lxml==4.5.0
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 6.7MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yahooquery) (1.0.5)
Collecting requests-futures==1.0.0
  Downloading https://files.pythonhosted.org/packages/47/c4/fd48d1ac5110a5457c71ac7cc4caa93da10a80b8de71112430e439bdee22/requests-futures-1.0.0.tar.gz
Collecting selenium==3.141.0
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 42.8MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yahooquery) (1.18.5)
Requirement already satisfied: requests>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from requests-futures==1.0.0->yahooquery) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium==3.141.0->yahooquery) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yahooquery) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery) (3.0.4)
Building wheels for collected packages: yahooquery, requests-futures
  Building wheel for yahooquery (setup.py) ... done
  Created wheel for yahooquery: filename=yahooquery-2.2.5-cp36-none-any.whl size=49956 sha256=daa9e98f11b4ec6414bda2ec40216e916c44d2f747d4432a4a85303b52d2059b
  Stored in directory: /root/.cache/pip/wheels/dd/6f/e6/04b0c8874ca6f29e0effceb10ea260f181746c43905a436477
  Building wheel for requests-futures (setup.py) ... done
  Created wheel for requests-futures: filename=requests_futures-1.0.0-cp36-none-any.whl size=7013 sha256=dfd330e3b886eca360130ad684f61e791ab13028b9819c950b85988782cda0cd
  Stored in directory: /root/.cache/pip/wheels/26/d0/f5/dc4e4a37bbe55c9acf967d2bd899152412c1e49c227f5395ff
Successfully built yahooquery requests-futures
Installing collected packages: lxml, requests-futures, selenium, yahooquery
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.5.0 requests-futures-1.0.0 selenium-3.141.0 yahooquery-2.2.5

In [6]:
from yahooquery import Ticker
import pandas as pd
aapl = Ticker('aapl')
aapl.history(period='max') #dispaly first 5 and last 5 in notebook

                        close         low  ...  dividends  splits
symbol date                                ...
aapl   1980-12-12    0.513393    0.513393  ...        0.0     0.0
       1980-12-15    0.486607    0.486607  ...        0.0     0.0
       1980-12-16    0.450893    0.450893  ...        0.0     0.0
       1980-12-17    0.462054    0.462054  ...        0.0     0.0
       1980-12-18    0.475446    0.475446  ...        0.0     0.0
...                       ...         ...  ...        ...     ...
       2020-07-24  370.459991  356.579987  ...        0.0     0.0
       2020-07-27  379.239990  373.920013  ...        0.0     0.0
       2020-07-28  373.010010  372.989990  ...        0.0     0.0
       2020-07-29  380.160004  374.850006  ...        0.0     0.0
       2020-07-30  381.589996  375.070007  ...        0.0     0.0

[9992 rows x 8 columns]

In [7]:
aapl.earning_history

            maxAge  epsActual  epsEstimate  ...  surprisePercent     quarter period
symbol row                                  ...
aapl   0         1       2.18         2.10  ...            0.038  2019-06-30    -4q
       1         1       3.03         2.84  ...            0.067  2019-09-30    -3q
       2         1       4.99         4.55  ...            0.097  2019-12-31    -2q
       3         1       2.55         2.26  ...            0.128  2020-03-31    -1q

[4 rows x 7 columns]

In [ ]:
# DataFrame and Series are different.
print(type(aapl.earning_history))
print(type(aapl.earning_history['quarter']))
print(type(aapl.earning_history[['quarter','epsActual']])) # Double brackets!

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
aapl.sec_filings

                  date            epochDate  type  \
symbol row
aapl   0    2020-05-11  2020-05-11 21:32:39   8-K
       1    2020-05-01  2020-05-01 11:45:45  10-Q
       2    2020-04-30  2020-04-30 21:33:15   8-K
       3    2020-02-18  2020-02-18 11:35:28   8-K
       4    2020-01-29  2020-01-29 11:07:08  10-Q
       5    2020-01-28  2020-01-28 21:31:43   8-K
       6    2019-11-15  2019-11-15 11:24:32   8-K
       7    2019-10-31  2019-10-31 10:07:27  10-K
       8    2019-10-30  2019-10-30 20:32:03   8-K
       9    2019-09-11  2019-09-11 21:22:00   8-K
       10   2019-07-31  2019-07-31 21:33:41  10-Q
       11   2019-07-30  2019-07-30 21:31:22   8-K

                                                        title  \
symbol row
aapl   0    Disclosing Other Events, Financial Statements ...
       1                                     Quarterly Report
       2    Disclosing Results of Operations and Financial...
       3    Disclosing Regulation FD Disclosure, Financial...
       4                                     Quarterly Report
       5    Disclosing Results of Operations and Financial...
       6    Disclosing Other Events, Financial Statements ...
       7                                        Annual Report
       8    Disclosing Results of Operations and Financial...
       9    Disclosing Other Events, Financial Statements ...
       10                                    Quarterly Report
       11   Disclosing Results of Operations and Financial...

                                                     edgarUrl  maxAge
symbol row
aapl   0    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       1    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       2    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       3    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       4    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       5    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       6    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       7    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       8    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       9    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       10   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       11   https://yahoo.brand.edgar-online.com/DisplayFi...       1

In [ ]:
aapl.balance_sheet(frequency="q")

,asOfDate,periodType,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,CashEquivalents,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2019-06-30,3M,2.911500e+10,1.414800e+10,-5.634800e+10,1.159960e+11,4.337100e+10,5.053000e+10,9.461400e+10,3.845500e+10,...,9.645600e+10,3.222390e+11,1.813920e+11,1.084180e+11,9.645600e+10,2.257830e+11,1.872660e+11,1.360790e+11,3.052100e+10,4.526900e+10
aapl,2019-09-30,3M,4.623600e+10,2.292600e+10,-5.857900e+10,1.053410e+11,4.517400e+10,4.884400e+10,1.005570e+11,3.664000e+10,...,9.048800e+10,3.385160e+11,1.822950e+11,1.080470e+11,9.048800e+10,2.480280e+11,1.756970e+11,1.423100e+11,2.954500e+10,5.710100e+10
aapl,2019-12-31,3M,4.511100e+10,2.097000e+10,-6.095900e+10,9.989900e+10,4.597200e+10,3.977100e+10,1.071620e+11,2.838800e+10,...,8.953100e+10,3.406180e+11,1.826090e+11,1.082920e+11,8.953100e+10,2.510870e+11,1.773870e+11,1.489260e+11,2.819800e+10,6.107000e+10
aapl,2020-03-31,3M,3.242100e+10,1.572200e+10,-6.285400e+10,9.879300e+10,4.803200e+10,4.017400e+10,9.405100e+10,1.576900e+10,...,7.842500e+10,3.204000e+11,1.675110e+11,1.095070e+11,7.842500e+10,2.419750e+11,1.766470e+11,1.458810e+11,2.818800e+10,4.765900e+10

# Getting Series

In [ ]:
aapl.balance_sheet(frequency="q")[['asOfDate','AccountsReceivable', 'AccountsReceivable']] # note the double brackets because the type is data frame, which is 2 dimensional

         asOfDate  AccountsReceivable  AccountsReceivable
symbol
aapl   2019-06-30        1.414800e+10        1.414800e+10
aapl   2019-09-30        2.292600e+10        2.292600e+10
aapl   2019-12-31        2.097000e+10        2.097000e+10
aapl   2020-03-31        1.572200e+10        1.572200e+10

# Methods

In [ ]:
#Shape
aapl.balance_sheet(frequency="q")[['asOfDate','AccountsReceivable', 'AccountsReceivable']].shape

(4, 3)

In [ ]:
# head and tail
aapl.sec_filings.head(7) #default is 5

                  date            epochDate  type  \
symbol row
aapl   0    2020-05-11  2020-05-11 21:32:39   8-K
       1    2020-05-01  2020-05-01 11:45:45  10-Q
       2    2020-04-30  2020-04-30 21:33:15   8-K
       3    2020-02-18  2020-02-18 11:35:28   8-K
       4    2020-01-29  2020-01-29 11:07:08  10-Q
       5    2020-01-28  2020-01-28 21:31:43   8-K
       6    2019-11-15  2019-11-15 11:24:32   8-K

                                                        title  \
symbol row
aapl   0    Disclosing Other Events, Financial Statements ...
       1                                     Quarterly Report
       2    Disclosing Results of Operations and Financial...
       3    Disclosing Regulation FD Disclosure, Financial...
       4                                     Quarterly Report
       5    Disclosing Results of Operations and Financial...
       6    Disclosing Other Events, Financial Statements ...

                                                     edgarUrl  maxAge
symbol row
aapl   0    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       1    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       2    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       3    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       4    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       5    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       6    https://yahoo.brand.edgar-online.com/DisplayFi...       1

In [ ]:
aapl.sec_filings.tail(7) #default is 5

                  date            epochDate  type  \
symbol row
aapl   5    2020-01-28  2020-01-28 21:31:43   8-K
       6    2019-11-15  2019-11-15 11:24:32   8-K
       7    2019-10-31  2019-10-31 10:07:27  10-K
       8    2019-10-30  2019-10-30 20:32:03   8-K
       9    2019-09-11  2019-09-11 21:22:00   8-K
       10   2019-07-31  2019-07-31 21:33:41  10-Q
       11   2019-07-30  2019-07-30 21:31:22   8-K

                                                        title  \
symbol row
aapl   5    Disclosing Results of Operations and Financial...
       6    Disclosing Other Events, Financial Statements ...
       7                                        Annual Report
       8    Disclosing Results of Operations and Financial...
       9    Disclosing Other Events, Financial Statements ...
       10                                    Quarterly Report
       11   Disclosing Results of Operations and Financial...

                                                     edgarUrl  maxAge
symbol row
aapl   5    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       6    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       7    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       8    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       9    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       10   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       11   https://yahoo.brand.edgar-online.com/DisplayFi...       1

In [ ]:
#info
aapl.sec_filings.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('aapl', 0) to ('aapl', 11)
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       12 non-null     object
 1   epochDate  12 non-null     object
 2   type       12 non-null     object
 3   title      12 non-null     object
 4   edgarUrl   12 non-null     object
 5   maxAge     12 non-null     int64
dtypes: int64(1), object(5)
memory usage: 843.0+ bytes

# Analysis methods

In [8]:
# value counts, counts the number of countries in each region
c.Region.value_counts(normalize=False, sort=True, dropna=False)

AFRICA           54
EUROPE           47
ASIA             44
NORTH AMERICA    23
OCEANIA          14
SOUTH AMERICA    12
Name: Region, dtype: int64

In [9]:
# sort value to get the highest price apple ever got to
aapl.history(period='max').high.sort_values(ascending = False).head(10)

symbol  date
aapl    2020-07-13    399.820007
        2020-07-21    397.000000
        2020-07-15    396.989990
        2020-07-20    394.000000
        2020-07-22    391.899994
        2020-07-16    389.619995
        2020-07-14    389.019989
        2020-07-17    388.589996
        2020-07-23    388.309998
        2020-07-09    385.269989
Name: high, dtype: float64

In [ ]:
# multiple sorting dataframe so it's sorted by multiple columns
aapl.history(period='max').sort_values(by = ['high', 'close'], ascending = False).head(10)

                          low       close  ...  dividends  splits
symbol date                                ...
aapl   2020-07-13  381.029999  381.910004  ...        0.0     0.0
       2020-07-21  386.970001  388.000000  ...        0.0     0.0
       2020-07-15  385.959991  390.899994  ...        0.0     0.0
       2020-07-20  384.250000  393.429993  ...        0.0     0.0
       2020-07-22  386.410004  389.089996  ...        0.0     0.0
       2020-07-16  383.619995  386.089996  ...        0.0     0.0
       2020-07-14  375.510010  388.230011  ...        0.0     0.0
       2020-07-17  383.359985  385.309998  ...        0.0     0.0
       2020-07-23  368.040009  371.380005  ...        0.0     0.0
       2020-07-09  378.690002  383.010010  ...        0.0     0.0

[10 rows x 8 columns]

In [ ]:
#Boolean Indexing 
print(c.Region == 'ASIA') # print boolean mask
print(c[c.Region == 'ASIA']) # apply boolean mask, show only Asia Country

0      False
1      False
2      False
3      False
4      False
       ...
189    False
190    False
191    False
192    False
193    False
Name: Region, Length: 194, dtype: bool
                 Country Region
54           Afghanistan   ASIA
55               Bahrain   ASIA
56            Bangladesh   ASIA
57                Bhutan   ASIA
58                Brunei   ASIA
59                 Burma   ASIA
60              Cambodia   ASIA
61                 China   ASIA
62            East Timor   ASIA
63                 India   ASIA
64             Indonesia   ASIA
65                  Iran   ASIA
66                  Iraq   ASIA
67                Israel   ASIA
68                 Japan   ASIA
69                Jordan   ASIA
70            Kazakhstan   ASIA
71          Korea, North   ASIA
72          Korea, South   ASIA
73                Kuwait   ASIA
74            Kyrgyzstan   ASIA
75                  Laos   ASIA
76               Lebanon   ASIA
77              Malaysia   ASIA
78              Maldives   ASIA
79              Mongolia   ASIA
80                 Nepal   ASIA
81                  Oman   ASIA
82              Pakistan   ASIA
83           Philippines   ASIA
84                 Qatar   ASIA
85    Russian Federation   ASIA
86          Saudi Arabia   ASIA
87             Singapore   ASIA
88             Sri Lanka   ASIA
89                 Syria   ASIA
90            Tajikistan   ASIA
91              Thailand   ASIA
92                Turkey   ASIA
93          Turkmenistan   ASIA
94  United Arab Emirates   ASIA
95            Uzbekistan   ASIA
96               Vietnam   ASIA
97                 Yemen   ASIA

In [ ]:
#boolean index with multiple conditions & (and), | (or), ~ (not)
aeh = aapl.earning_history
print(aeh)
print(aeh[aeh.epsActual > 3])
print(aeh[(aeh.epsActual > 3) & (aeh.epsEstimate > 4)])

            maxAge  epsActual  epsEstimate  ...  surprisePercent     quarter period
symbol row                                  ...
aapl   0         1       2.18         2.10  ...            0.038  2019-06-30    -4q
       1         1       3.03         2.84  ...            0.067  2019-09-30    -3q
       2         1       4.99         4.55  ...            0.097  2019-12-31    -2q
       3         1       2.55         2.26  ...            0.128  2020-03-31    -1q

[4 rows x 7 columns]
            maxAge  epsActual  epsEstimate  ...  surprisePercent     quarter period
symbol row                                  ...
aapl   1         1       3.03         2.84  ...            0.067  2019-09-30    -3q
       2         1       4.99         4.55  ...            0.097  2019-12-31    -2q

[2 rows x 7 columns]
            maxAge  epsActual  epsEstimate  ...  surprisePercent     quarter period
symbol row                                  ...
aapl   2         1       4.99         4.55  ...            0.097  2019-12-31    -2q

[1 rows x 7 columns]

In [ ]:
#String handling
print(c.Country.str.contains("na")) # boolean mask
print(c[c.Country.str.contains("na")]) # country has "na" in its name
print(c[(c.Country.str.contains("na")) & (c.Region.str.contains("EU") | c.Region.str.contains("SIA") )]) # further filter down to contain EU and SIA in Region name

0      False
1      False
2      False
3       True
4       True
       ...
189    False
190    False
191     True
192    False
193    False
Name: Country, Length: 194, dtype: bool
                              Country         Region
3                            Botswana         AFRICA
4                             Burkina         AFRICA
20                              Ghana         AFRICA
61                              China           ASIA
96                            Vietnam           ASIA
105            Bosnia and Herzegovina         EUROPE
128                            Monaco         EUROPE
149                            Canada  NORTH AMERICA
155                           Grenada  NORTH AMERICA
162                            Panama  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
182                         Argentina  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
                    Country  Region
61                    China    ASIA
96                  Vietnam    ASIA
105  Bosnia and Herzegovina  EUROPE
128                  Monaco  EUROPE

#Matplotlib

## pyplot

In [10]:
import matplotlib.pyplot as plt
%matplotlib -l

Available matplotlib backends: ['tk', 'gtk', 'gtk3', 'wx', 'qt4', 'qt5', 'qt', 'osx', 'nbagg', 'notebook', 'agg', 'inline', 'ipympl', 'widget']

In [11]:
# use 1st example in analysis method that shows number of countries in each continent
c.Region.value_counts(normalize=False, sort=True, dropna=False)

AFRICA           54
EUROPE           47
ASIA             44
NORTH AMERICA    23
OCEANIA          14
SOUTH AMERICA    12
Name: Region, dtype: int64

In [15]:
%matplotlib 
c.Region.value_counts(normalize=False, sort=True, dropna=False).plot

KeyError: ignored