# Strings

## bytes, Strings, encoding, decoding, utf-8, utf-32

In [ ]:
b = bytes([0x41, 0x42, 0x43, 0x44])
print(b)
s = "normal string"
    # Try combining them print(s+b). This will cause an error
    # decode the bytes to utf-8 first
print(b.decode('utf-8')+" "+s)

b'ABCD'
ABCD normal string

In [ ]:
#or encode the string to byte, bytes can concate 
bb = b + s.encode('UTF-8')
bb

b'ABCDnormal string'

In [ ]:
# encode the string as UTF-32
b3 = s.encode('utf-32')
print(b3)

b'\xff\xfe\x00\x00n\x00\x00\x00o\x00\x00\x00r\x00\x00\x00m\x00\x00\x00a\x00\x00\x00l\x00\x00\x00 \x00\x00\x00s\x00\x00\x00t\x00\x00\x00r\x00\x00\x00i\x00\x00\x00n\x00\x00\x00g\x00\x00\x00'

## format, template, substitute

In [ ]:
str1 = "You're watching {0} by {1}".format("Advanced Python", "Joe Marini")
str1

"You're watching Advanced Python by Joe Marini"

In [ ]:
from string import Template
# create a template with placeholders
templ = Template("You're watching ${title} by ${author}")

# use the substitute method with keyword arguments
str2 = templ.substitute(title="Advanced Python", author="Joe Marini")
print(str2)

You're watching Advanced Python by Joe Marini

In [ ]:
# use the substitute method with a dictionary
data = { 
    "author": "Joe Marini",
    "title": "Advanced Python"
}
str3 = templ.substitute(data)    
print(str3)

You're watching Advanced Python by Joe Marini

# List

## iterator, enumerate, zip

In [2]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

# use iter to create an iterator over a collection
i = iter(days)
print(type(i))
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue

<class 'list_iterator'>
Sun
Mon
Tue

In [9]:
# iterate using a function and a sentinel
# with open("testfile.txt", "r") as fp:
#     for line in iter(fp.readline, ''):
#         print(line)

print("use regular interation over the days")
for m in range(len(days)):
    print(m+1, days[m])

print("using enumerate reduces code and provides a counter")
for i, m in enumerate(days, start=1):
    print(i, m)

use regular interation over the days
1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat
using enumerate reduces code and provides a counter
1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat
use zip to combine sequences
('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')
zipped list type is:  <class 'tuple'>
[('Sun', 'Dim'), ('Mon', 'Lun'), ('Tue', 'Mar'), ('Wed', 'Mer'), ('Thu', 'Jeu'), ('Fri', 'Ven'), ('Sat', 'Sam')]
enumerate the tuples
1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

In [10]:
print("use zip to combine sequences") 
for m in zip(days, daysFr):
    print(m)

print("zipped list type is: ", type(m))

print(list(zip(days, daysFr)))

print("enumerate the tuples")
for i, m in enumerate(zip(days, daysFr), start=1):
    print(i, m[0], "=", m[1], "in French")

use zip to combine sequences
('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')
zipped list type is:  <class 'tuple'>
[('Sun', 'Dim'), ('Mon', 'Lun'), ('Tue', 'Mar'), ('Wed', 'Mer'), ('Thu', 'Jeu'), ('Fri', 'Ven'), ('Sat', 'Sam')]
enumerate the tuples
1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

## itertools cycle, count, accumulate, chain, dropwhile, takewhile

In [12]:
import itertools
seq1 = ["Joe", "John", "Mike"]
cycle1 = itertools.cycle(seq1)
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))

Joe
John
Mike
Joe

In [13]:
# use count to create a simple counter
count1 = itertools.count(100, 10)
print(next(count1))
print(next(count1))
print(next(count1))

100
110
120

In [17]:
# accumulate creates an iterator that accumulates values
vals = [10,20,30,40,50,40,30]
acc = itertools.accumulate(vals, max)
print(list(acc))

[10, 20, 30, 40, 50, 50, 50]

In [21]:
# use chain to connect sequences together
x = itertools.chain("ABCD", "1234")
print(list(x))

['A', 'B', 'C', 'D', '1', '2', '3', '4']

In [22]:
def testFunction(x):
    return x < 40

# dropwhile and takewhile will return values until
# a certain condition is met that stops them
print(list(itertools.dropwhile(testFunction, vals)))
print(list(itertools.takewhile(testFunction, vals)))

[40, 50, 40, 30]
[10, 20, 30]