# Strings

## bytes, Strings, encoding, decoding, utf-8, utf-32

In [ ]:
b = bytes([0x41, 0x42, 0x43, 0x44])
print(b)
s = "normal string"
    # Try combining them print(s+b). This will cause an error
    # decode the bytes to utf-8 first
print(b.decode('utf-8')+" "+s)

b'ABCD'
ABCD normal string

In [ ]:
#or encode the string to byte, bytes can concate 
bb = b + s.encode('UTF-8')
bb

b'ABCDnormal string'

In [ ]:
# encode the string as UTF-32
b3 = s.encode('utf-32')
print(b3)

b'\xff\xfe\x00\x00n\x00\x00\x00o\x00\x00\x00r\x00\x00\x00m\x00\x00\x00a\x00\x00\x00l\x00\x00\x00 \x00\x00\x00s\x00\x00\x00t\x00\x00\x00r\x00\x00\x00i\x00\x00\x00n\x00\x00\x00g\x00\x00\x00'

## format, template, substitute

In [ ]:
str1 = "You're watching {0} by {1}".format("Advanced Python", "Joe Marini")
str1

"You're watching Advanced Python by Joe Marini"

In [ ]:
from string import Template
# create a template with placeholders
templ = Template("You're watching ${title} by ${author}")

# use the substitute method with keyword arguments
str2 = templ.substitute(title="Advanced Python", author="Joe Marini")
print(str2)

You're watching Advanced Python by Joe Marini

In [ ]:
# use the substitute method with a dictionary
data = { 
    "author": "Joe Marini",
    "title": "Advanced Python"
}
str3 = templ.substitute(data)    
print(str3)

You're watching Advanced Python by Joe Marini

# List

## iterator, enumerate, zip

In [ ]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

# use iter to create an iterator over a collection
i = iter(days)
print(type(i))
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue

<class 'list_iterator'>
Sun
Mon
Tue

In [ ]:
# iterate using a function and a sentinel
# with open("testfile.txt", "r") as fp:
#     for line in iter(fp.readline, ''):
#         print(line)

print("use regular interation over the days")
for m in range(len(days)):
    print(m+1, days[m])

print("using enumerate reduces code and provides a counter")
for i, m in enumerate(days, start=1):
    print(i, m)

use regular interation over the days
1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat
using enumerate reduces code and provides a counter
1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat
use zip to combine sequences
('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')
zipped list type is:  <class 'tuple'>
[('Sun', 'Dim'), ('Mon', 'Lun'), ('Tue', 'Mar'), ('Wed', 'Mer'), ('Thu', 'Jeu'), ('Fri', 'Ven'), ('Sat', 'Sam')]
enumerate the tuples
1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

In [ ]:
print("use zip to combine sequences") 
for m in zip(days, daysFr):
    print(m)

print("zipped list type is: ", type(m))

print(list(zip(days, daysFr)))

print("enumerate the tuples")
for i, m in enumerate(zip(days, daysFr), start=1):
    print(i, m[0], "=", m[1], "in French")

use zip to combine sequences
('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')
zipped list type is:  <class 'tuple'>
[('Sun', 'Dim'), ('Mon', 'Lun'), ('Tue', 'Mar'), ('Wed', 'Mer'), ('Thu', 'Jeu'), ('Fri', 'Ven'), ('Sat', 'Sam')]
enumerate the tuples
1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

## itertools cycle, count, compress, accumulate, chain, dropwhile, takewhile

In [ ]:
import itertools
seq1 = ["Joe", "John", "Mike"]
cycle1 = itertools.cycle(seq1)
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))

Joe
John
Mike
Joe

In [ ]:
# use count to create a simple counter
count1 = itertools.count(100, 10)
print(next(count1))
print(next(count1))
print(next(count1))

100
110
120

In [ ]:
# accumulate creates an iterator that accumulates values
vals = [10,20,30,40,50,40,30]
acc = itertools.accumulate(vals, max)
print(list(acc))

[10, 20, 30, 40, 50, 50, 50]

In [ ]:
# use chain to connect sequences together
x = itertools.chain("ABCD", "1234")
print(list(x))

['A', 'B', 'C', 'D', '1', '2', '3', '4']

In [ ]:
# filter a list by another boolean list
list_a = [1, 2, 4, 6]
filterlist = [True, False, True, False]
list(itertools.compress(list_a, filterlist))

[1, 4]

In [ ]:
def lessThan40(x):
    return x < 40

# dropwhile and takewhile will return values until a certain condition is met that stops them
print(list(itertools.dropwhile(lessThan40, vals)))
print(list(itertools.takewhile(lessThan40, vals)))

[40, 50, 40, 30]
[10, 20, 30]

## filter, map, sorted

filter and map use function to transform list values. Map does one to one (or one to two, one to three mappings), filter use true/false to filter list

### filter

In [3]:
# filter(function, iterable) https://docs.python.org/3/library/functions.html

def filterOdd(x):
    if x % 2 == 0:
        return False
    return True

nums = (1, 8, 4, 5, 13, 26, 381, 410, 58)

list(filter(filterOdd, nums))

[1, 5, 13, 381]

In [1]:
def filterUpper(x):
  if x.isupper():
    return True
  else:
    return False

chars = "abcDeFGHiJklmnoP"

list(filter(filterUpper, chars))

['D', 'F', 'G', 'H', 'J', 'P']

### simple map

In [26]:
def square(x):
  return x*x

list(map(square, nums)) # list comprehension alterative [square(x) for x in nums]

[1, 64, 16, 25, 169, 676, 145161, 168100, 3364]

In [5]:
# use built-in function to map
list(map(ord, chars))

[97, 98, 99, 68, 101, 70, 71, 72, 105, 74, 107, 108, 109, 110, 111, 80]

In [6]:
list(map(len, chars))

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

map one to two

In [7]:
powerIndex=[2,1,3]
list(map(pow, nums, powerIndex)) #The final iterable is only as long as the shortest iterable

[1, 8, 64]

### lambda and function map

In [18]:
list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5]))

[1, 1, 1]

In [17]:
list(map(lambda x, y, z: x + y + z, [2, 4], [1, 3], [7, 8]))

[10, 15]

In [25]:
def powers(x):
  return x**2, x**3, x**4

list(map(powers, nums[0:3]))

[(1, 1, 1), (64, 512, 4096), (16, 64, 256)]

string list manipulation: strip, split, sub with built-in str functions

In [10]:
with_spaces = ["processing ", "  strings", "with   ", " map   "]
list(map(str.strip, with_spaces))

['processing', 'strings', 'with', 'map']

In [ ]:
# use lambda to strip other symbols
with_dots = ["processing..", "...strings", "with....", "..map.."]
list(map(lambda s: s.strip("."), with_dots))

In [19]:
#split text to word list, then remove punctuation (a list of symbols) use re.sub
text = """Some people, when confronted with a problem, think
"I know, I'll use regular expressions."
Now they have two problems. Jamie Zawinski"""

words = text.split()
words

['Some',
 'people,',
 'when',
 'confronted',
 'with',
 'a',
 'problem,',
 'think',
 '"I',
 'know,',
 "I'll",
 'use',
 'regular',
 'expressions."',
 'Now',
 'they',
 'have',
 'two',
 'problems.',
 'Jamie',
 'Zawinski']

In [15]:
# remove punctuation use re.sub
import re
def remove_punctuation(word):
      return re.sub(r'[!?.:;,"()-]', "", word)

list(map(remove_punctuation, words))

['Some',
 'people',
 'when',
 'confronted',
 'with',
 'a',
 'problem',
 'think',
 'I',
 'know',
 "I'll",
 'use',
 'regular',
 'expressions',
 'Now',
 'they',
 'have',
 'two',
 'problems',
 'Jamie',
 'Zawinski']

### Caesar Cipher an example

*   Original alphabet: abcdefghijklmnopqrstuvwxyz
*   Alphabet rotated by three: defghijklmnopqrstuvwxyzabc

In [22]:
def rotate_chr(c):
    rot_by = 3
    c = c.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    # Keep punctuation and whitespace
    if c not in alphabet:
        return c
    rotated_pos = ord(c) + rot_by
    # If the rotation is inside the alphabet
    if rotated_pos <= ord(alphabet[-1]):
        return chr(rotated_pos)
    # If the rotation goes beyond the alphabet
    return chr(rotated_pos - len(alphabet))

In [23]:
"".join(map(rotate_chr, "My secret message goes here."))

'pb vhfuhw phvvdjh jrhv khuh.'

function parameter

In [30]:
def addition(base, *args):
    result = 0
    for arg in args:
        result += arg

    return result

print(addition(5, 10, 15, 20))

45

In [33]:
myNums = [5, 10, 15, 20]
print(addition(myNums))
print(addition(*myNums))

0
45